## ASP.NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.env
.env.local
.vs/
/wwwroot/uploads/
README.md
README.txt
## Rider / VS Code / JetBrains
.idea/
.vscode/
*.code-workspace

## Logs
*.log
logs/
Log/
Logs/

## Secrets
secrets.json
appsettings.*.json.user

## EF Core
Migrations/

## Runtime
*.db
*.pidb
*.pdb

# dependencies
/node_modules

## OS Files
.DS_Store
Thumbs.db